.radarChart{
//background-color: aqua;
// height: 300px;
// width: 300px;
position: relative;
}

.title{
    margin-bottom: 20px;
    font-size: 20px;
  }

.grandTotal{
    font-size: small;
    font-style: italic;
  }

  
