.navbar{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo{
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 10px;
      
      img{
          width: 26px;
          height: 26px;
          border-radius: 10%;
          object-fit: cover;  
      }
    }

    .icons{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
}




